<!DOCTYPE html>
<html>
  <head lang="zh-cn">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= file.title %></title>
    <meta name="renderer" content="webkit">
    <link href="/tmp/static/css/normalize.min.css" rel="stylesheet"/>
    <link href="/tmp/static/css/demo.css" rel="stylesheet"/>
    <style type="text/css">
      <%= file.style %>
    </style>
  </head>
  <body>
    <% if(file.html) { %>
      <div class="example">
        <%- file.html %>
      </div>
    <% } %>
    <% file.script.forEach(function(each){ %>
      <script src="<%= each %>"></script>
    <% })%>
  </body>
</html>
